@mixin button($height, $bg-color, $color: $neutral-dark) {
  display: inline-block;
  height: $height;
  line-height: $height;
  background-color: $bg-color;
  color: $color;
  font-size: 15pt;
  padding: 0 32px;
  white-space: nowrap;
  display: inline-block;
  // TODO: add hover and active states when the designer defines them
}

.btn-primary {
  @include button(44px, $yellow)
}
.btn-secondary {
  @include button(44px, $neutral-light)
}
.btn-primary[disabled] {
  @include button(44px, $neutral-primary)
}
.btn-big {
  height: 56px;
  line-height: 56px;
}

.btn-danger {
  color: $red;
  text-decoration: underline;
  display: inline-block;
}

.btn-link {
  color: $theme-primary;
  text-decoration: underline;
  display: inline-block;
  height: 32px;
  padding: 6px 0;
}
