@import "../../../styles/abstracts/variables-colors";
@import "../../../styles/abstracts/variables-layout";

.setup-header {
  color: $neutral-primary;
  padding: 16px 0 0 0;
  margin-top: -$vertical-padding;

  .list-header-wrapper {
    padding-top: 0;
  }
}

.setup-current-step {
  font-size: 15px;
}

trq-materials-list-view /deep/ .list-wrapper {
  max-height: calc(#{$view-height} - 136px - 88px); // header, footer
}

.setup-section {
  max-width: 480px;
  margin: 0 auto;
}

.setup-section-footer {
  height: 88px;
  display: flex;
  align-items: center;

  button + button {
    margin-left: 20px;
  }
}

.setup-section-fields {
  display: flex;
  align-items: baseline;
  margin: 70px 0;
}

.setup-input {
  margin-right: 10px;
}
