<div class="form-wrapper" [ngClass]="{'scan-edit-fullscreen': isFullscreen}">
  <div class="col col-2 col-offset-1">
    <div class="form-header" *ngIf="!isFullscreen">
      <h2>Edit Scan</h2>
      <button class="btn-secondary" (click)="deleteScan()">Delete Scan</button>
    </div>
    <trq-scan-edit-form [isFullscreen]="isFullscreen" [scan]="scan" (updateScan)="updateScan($event)" (closeEdit)="closeEdit()"></trq-scan-edit-form>
  </div>
</div>
