@import '../../styles/abstracts/variables-layout';
@import '../../styles/abstracts/variables-colors';
@import '../../styles/abstracts/mixins';

:host {
  position: fixed;
  top: $titlebar-height;
  left: 0;
  z-index: 1;
}

nav {
  position: relative;
  height: $view-height;
  width: 48px;
  background-color: $theme-primary;
  color: white;
  transition: all 0.4s;
  overflow: hidden;
}

.scanner-wrapper {
  position: relative;
  background-color: rgba($theme-light, 0.3);
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  transition: all 0.4s;
}

.nav-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.nav-link-name {
  position: relative;
  transition: all 0.2s;
}
.nav-icon {
  @include square-icon(24px, 12px);
  cursor: pointer;
}
.nav-logo {
  $logo-width: 105px;
  position: absolute;
  top: 12px;
  left: $nav-width - $logo-width - 20px;
  width: $logo-width;
}

.scanner-info {
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
}
.scanner-battery {
  opacity: 0.5;
  display: flex;
  align-items: center;
  .ms-Icon {
    font-size: 36px;
  }
}
.scanner-icon {
  @include square(24px);
  @include scanner-icon('small');
  margin-right: 12px;
}
.scanner-action {
  position: relative;
  font-size: 24px;
}


nav:not(.open) {
  .nav-logo {
    display: none;
  }
  .nav-link-name {
    opacity: 0;
    left: 20px;
  }
  .scanner-wrapper {
    margin-top: 0;
    height: 275px;
    padding: 12px 12px 24px;
  }
  .scanner-info {
    @keyframes slideToLeft {
      0% {
        transform: rotate(270deg) translateX(-100%) translateX(140px);
      }
      100% {
        transform: rotate(270deg) translateX(-100%) translateX(0);
      }
    }

    display: flex;
    transform-origin: top left;
    animation-name: slideToLeft;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
  }
  .scanner-name {
    margin-right: 16px;
  }
}

nav.open {
  width: $nav-width;
  .nav-link-name {
    left: 0;
    opacity: 1;
  }
  .scanner-wrapper {
    padding: 16px 12px 24px;
    margin-top: 275px - 140px;
    height: 140px;
  }
  .scanner-info {
    width: 100%;
    margin-bottom: 24px;
  }
  .scanner-name {
    margin-bottom: 4px;
  }
  .scanner-battery .ms-Icon {
    margin-right: 4px;
  }

  .scanner-wrapper.disconnected .scanner-info {
    white-space: normal;
  }
}


.version {
  display: none;
  font-size: 9px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  text-align: right;
  color: $theme-light;
  width: $nav-width;
}

.open .version {
  display: block;
}
