@mixin square($size) {
  width: $size;
  height: $size;
}
@mixin circle($size) {
  @include square($size);
  border-radius: 50%;
}
@mixin square-icon($icon-size, $padding: 0px) {
  @include square($icon-size + 2 * $padding);
  line-height: $icon-size;
  font-size: $icon-size;
  padding: $padding;
}

@mixin pseudoelement {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

@mixin text-overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin center-x($position: null) {
  position: $position;
  left: 50%;
  transform: translateX(-50%);
}
@mixin center-y($position: null) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}
@mixin center-xy($position: null) {
  position: $position;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}


@mixin background-icon($icon-url) {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @if $icon-url {
    background-image: url('assets/images/#{$icon-url}')
  }
}
@mixin scanner-icon($type) {
  @if $type {
    @include background-icon('scanner/scanner-#{$type}.svg');
  }
}
