<div class="list-wrapper scans-list-wrapper"
  trqInfiniteScroll
  (loadMoreItems) = "infiniteScrollCallback($event)"
  [offset] = "offset"
  [limit] = "limit"
  [hasNextPage]="hasNextPage"
  >

  <header *ngIf="hasRecentScans()" class="scans-list-header">
    Scans saved
  </header>

  <div class="scan-item" *ngFor="let scan of scansList" (click)="scanSelected.emit(scan)" [ngClass]="{'scan-recent': recentScansIds && recentScansIds.includes(scan.id)}">
    <div class="scan-item-content">
      <header>
        <time class="scan-time">{{ scan.updatedAt | date:'dd/MM/yyyy HH:mm' }}</time>
        <h2 class="scan-part-number">{{ scan.partNumber }}</h2>
        <span class="scan-list-item-outcome-invalid" *ngIf="scan.outcome === Outcome.Invalid">Breaks found</span>
        <span class="scan-list-item-outcome-valid" *ngIf="scan.outcome === Outcome.Valid">No breaks</span>
      </header>

      <p class="scan-description">{{ scan.description }}</p>

      <div class="scan-property scan-material">
          <span class="scan-label">Material</span>
          <span class="scan-value">{{ scan.material && scan.material.name }}</span>
      </div>

      <div class="scan-property">
        <span class="scan-label">Det. Depth</span>
        <span class="scan-value">{{ scan.detectionDepth | unit:'detectionDepth' }}</span>
      </div>

      <div class="scan-property">
        <span class="scan-label">Frequency</span>
        <span class="scan-value">{{ scan.frequency | unit:'frequency' }}</span>
      </div>
    </div>
  </div>
</div>
