<article class="scan-summary">
  <header class="scan-summary-toolbar">
    <button class="scan-summary-edit" (click)="onEditClick()" type="button" name="edit">
        <i class="ms-Icon ms-Icon--Edit" aria-hidden="true"></i>
    </button>
    <button class="scan-summary-refresh" (click)="onRetryClick()" type="button" name="refresh">
        <i class="ms-Icon ms-Icon--Refresh" aria-hidden="true"></i>
    </button>
    <button class="scan-summary-delete" (click)="onDeleteClick()" type="button" name="delete">
        <i class="ms-Icon ms-Icon--Delete" aria-hidden="true"></i>
    </button>
  </header>
  <div class="scan-summary-row grid">
    <label class="scan-summary-label col col-1">Scan Reference</label>
    <span class="scan-summary-value">{{ scan.createdAt | date:'dd/MM/yyyy HH:mm' }}</span>
  </div>
  <div class="scan-summary-row grid">
    <label class="scan-summary-label col col-1">Part number</label>
    <span class="scan-summary-value" name="partNumber">{{ scan.partNumber }}</span>
  </div>
  <div class="scan-summary-row grid">
    <label class="scan-summary-label col col-1">Outcome</label>
    <span class="scan-summary-value">
      <span class="scan-summary-outcome-unknown" *ngIf="scan.outcome === Outcome.Unknown">Unknown</span>
      <span class="scan-summary-outcome-invalid" *ngIf="scan.outcome === Outcome.Invalid">Breaks found</span>
      <span class="scan-summary-outcome-valid" *ngIf="scan.outcome === Outcome.Valid">No breaks</span>
    </span>
  </div>
  <div class="scan-summary-row grid">
    <label class="scan-summary-label col col-1">Description</label>
    <span class="scan-summary-value">{{ scan.description }}</span>
  </div>
  <div class="scan-summary-row grid" *ngIf="manufacturerVisible">
    <label class="scan-summary-label col col-1">Manufacturer</label>
    <span class="scan-summary-input-wrapper">
      <input
        type="text"
        class="input-primary scan-summary-input-big"
        name="manufacturer"
        id="manufacturer"
        maxlength="256"
        [(ngModel)]="scan.manufacturer"
        #manufacturer="ngModel"
      />
      <button class="btn-danger scan-summary-delete-input" type="button" (click)="deleteManufacturer()">Delete</button>
    </span>
  </div>
  <div class="scan-summary-buttons col col-1 col-offset-1" *ngIf="!manufacturerVisible">
    <button
      class="btn-secondary"
      name="addManufacturer"
      type="button"
      (click)="addManufacturer()"
    >Add Manufacturer</button>
  </div>

  <div class="scan-summary-row grid" *ngFor="let additionalInfo of additionalInfoArrays; let i = index">
    <label [attr.for]="'additionalInfoLabel' + i" class="scan-summary-label-input col col-1 scan-summary-input-wrapper">
      <input
        placeholder="Label"
        type="text"
        class="input-primary scan-summary-input-small"
        [name]="'additionalInfoLabel' + i"
        [attr.name]="'additionalInfoLabel' + i"
        maxlength="256"
        [ngModel]="additionalInfo[0]"
        (ngModelChange)="changeAdditionalInfo($event, additionalInfo, 0)"
      />
    </label>
    <span class="scan-summary-input-wrapper">
      <input
        placeholder="Value"
        class="input-primary scan-summary-input-big"
        type="text"
        [name]="'additionalInfoValue' + i"
        [attr.name]="'additionalInfoValue' + i"
        maxlength="256"
        [ngModel]="additionalInfo[1]"
        (ngModelChange)="changeAdditionalInfo($event, additionalInfo, 1)"
      />
      <button
        [attr.name]="'additionalInfoDelete' + i"
        (click)="deleteAdditionalInfoByIndex(i)"
        class="btn-danger scan-summary-delete-input"
        type="button"
      >Delete</button>
    </span>
  </div>

  <div class="scan-summary-buttons col col-1 col-offset-1">
    <button class="btn-secondary"  name="addAdditionalInfo" (click)="addAdditionalInfo()" [disabled]="!isAdditionalInfoValid()">Add Additional Info</button>
  </div>
</article>
