.input-search-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  input {
    padding-left: 12px;
  }
  .ms-Icon {
    position: absolute;
    width: 30px;
    line-height: 34px;
    top: 0;
    text-align: center;
    transition: all 0.1s;
  }
  .ms-Icon--Search {
    font-size: 13px;
    left: 0;
  }
  .ms-Icon--ChromeClose {
    font-size: 11px;
    right: -30px;
    cursor: pointer;
  }
  // close icon has to be visible on mousedown and before mouseup, even though input lost focus already
  input:focus, &:active input {
    padding-right: 30px;  
    & ~ .ms-Icon--Search {
      left: -30px;
    }
    & ~ .ms-Icon--ChromeClose {
      right: 0;
    }
  }
  &:not(:active) input:not(:focus) {
    padding-left: 30px;    
  }
}