<form class="scan-summary-list-wrapper" (ngSubmit)="submit()">
  <h1 class="scan-summary-list-heading">Scan Summary</h1>

  <ul class="scan-summary-list">
    <li *ngFor="let scan of scans">
      <trq-scan-summary
        [scan]="scan"
        (deleteScan)="deleteScan(scan)"
        (editScan)="editScan(scan)"
        (retryScan)="retryScan(scan)"
        (updateScan)="updateScan(scan)"
      ></trq-scan-summary>
    </li>
  </ul>

  <footer class="scan-summary-list-footer">
    <button class="btn-primary scan-summary-list-save" type="submit">Save</button>
  </footer>
</form>
