@import "../../../styles/abstracts/variables-colors";

.scan-summary-list-heading {
  text-align: center;
  padding: 0 24px 24px 24px;
}

.scan-summary-list-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $neutral-very-light;
  padding: 32px 32px 32px 70px;
  overflow: auto;
}

.scan-summary-list-save {
  min-width: 250px;
}

.scan-summary-list-footer {
  padding: 24px;
  text-align: center;
}
