<form class="scan-form" #scanForm="ngForm" (ngSubmit)="onUpdateScan()" [ngClass]="{'scan-edit-form-fullscreen': isFullscreen}">
  <div class="input-wrapper">
    <label for="partNumber">Part number</label>
    <input
      type="text"
      [ngClass]="isFullscreen ? 'input-secondary input-big' : 'input-primary'"
      name="partNumber"
      id="partNumber"
      maxlength="256"
      required
      [(ngModel)]="scan.partNumber"
      #partNumber="ngModel"
    >
    <div class="scan-created-at" *ngIf="isFullscreen">{{ scan.createdAt | date:'M/d/yy h:mm' }}</div>
  </div>

  <div class="input-wrapper">
    <label for="description">Description</label>
    <textarea
      type="text"
      [ngClass]="isFullscreen ? 'input-secondary' : 'input-primary'"
      name="description"
      id="description"
      maxlength="1000"
      required
      [(ngModel)]="scan.description"
      #description="ngModel"
    ></textarea>
  </div>

  <div class="input-wrapper" *ngIf="manufacturerVisible">
    <label for="manufacturer">Manufacturer</label>
    <input
      type="text"
      [ngClass]="isFullscreen ? 'input-secondary' : 'input-primary'"
      name="manufacturer"
      id="manufacturer"
      maxlength="256"
      [(ngModel)]="scan.manufacturer"
      #manufacturer="ngModel"
    >
    <button class="btn-danger" type="button" (click)="deleteManufacturer()">Delete</button>
  </div>
  <div class="form-buttons-wrapper" *ngIf="!manufacturerVisible">
    <button name="addManufacturer" class="btn-secondary" type="button" (click)="addManufacturer()">Add Manufacturer</button>
  </div>

  <div class="additional-info-wrapper" *ngFor="let additionalInfo of additionalInfoArrays; let i = index">
    <div class="input-wrapper">
      <label [attr.for]="'additionalInfoLabel' + i">Label</label>
      <input
        type="text"
        [ngClass]="isFullscreen ? 'input-secondary' : 'input-primary'"
        [name]="'additionalInfoLabel' + i"
        [attr.name]="'additionalInfoLabel' + i"
        maxlength="256"
        [ngModel]="additionalInfo[0]"
        (ngModelChange)="changeAdditionalInfo($event, additionalInfo, 0)"
      >
    </div>
    <div class="input-wrapper">
      <label [attr.for]="'additionalInfoValue' + i">Value</label>
      <input
        type="text"
        [ngClass]="isFullscreen ? 'input-secondary' : 'input-primary'"
        [name]="'additionalInfoValue' + i"
        [attr.name]="'additionalInfoValue' + i"
        maxlength="256"
        [ngModel]="additionalInfo[1]"
        (ngModelChange)="changeAdditionalInfo($event, additionalInfo, 1)"
      >
    </div>
    <button [attr.name]="'additionalInfoDelete' + i" class="btn-danger" type="button" (click)="deleteAdditionalInfoByIndex(i)">Delete</button>
  </div>
  <div class="form-buttons-wrapper">
    <button name="addAdditionalInfo" class="btn-secondary" type="button" (click)="addAdditionalInfo()" [disabled]="!isAdditionalInfoValid()">Add Additional Info</button>
  </div>

  <div class="form-buttons-wrapper">
    <button name="submit" class="btn-primary" type="submit" [disabled]="!scanForm.form.valid || !isAdditionalInfoValid()">Save</button>

    <button name="cancel" *ngIf="isFullscreen" class="btn-secondary" type="button" (click)="onCloseEdit()">Cancel</button>
  </div>
</form>
