<section class="scanning-process">
  <aside class="scanning-process-sidebar">
    <a class="btn-secondary" (click)="cancel()">
        <i class="ms-Icon ms-Icon--ChromeClose" aria-hidden="true"></i>
        Cancel
    </a>
    <h2>Scans</h2>
    <ng-container *ngIf="this.isSingleScanMode()">
      <ul class="scanning-process-list">
        <li class="scanning-process-list-item" class="scanning-process-list-item-important">{{ singleScan && singleScan.partNumber }}</li>
      </ul>
    </ng-container>
    <ng-container *ngIf="!this.isSingleScanMode()">
      <ul class="scanning-process-list" *ngIf="scans.length">
        <li class="scanning-process-list-item" *ngFor="let scan of scans; let i = index"  [ngClass]="{'scanning-process-list-item-important': i === 0}">{{ scan.partNumber }}</li>
      </ul>
      <div class="scanning-process-no-scans" *ngIf="!scans.length">No scans</div>
    </ng-container>
    <button class="btn-primary" (click)="finish()" *ngIf="scans.length && !this.isSingleScanMode()" name="finish">Finish</button>
  </aside>
  <div class="scanning-process-main">
    <div class="scanning-process-idle" *ngIf="!measureInProgress">
      <div class="scanning-process-scanner"></div>
      <h2>Press trigger to start scanning</h2>
    </div>
    <div class="scanning-process-in-progress" *ngIf="measureInProgress">
      <div class="scanning-process-chart">
        <trq-scan-chart [measurements]="measurements" [size]="measurements.length"></trq-scan-chart>
      </div>
      <h2>Release trigger to stop</h2>
    </div>
  </div>
  <div class="scanning-process-scan">
    <header>
        <h2>{{ selectedScan.partNumber || setup.partNumber }}</h2>
        <button *ngIf="scans.length" class="btn-secondary" (click)="openEditScan()">Edit</button>
    </header>
    <time  class="scanning-process-date">{{ selectedScan.createdAt | date:'dd/MM/yyyy HH:mm' }}</time>
    <dl class="scanning-process-data">
      <dt>Description:</dt><dd>{{ selectedScan.description || setup.description || '-' }}</dd>
      <dt>Manufacturer:</dt><dd>{{ selectedScan.manufacturer || '-' }}</dd>
      <ng-container *ngFor="let item of getAdditionalInfoEntries()">
        <dt>{{item[0]}}:</dt><dd>{{ item[1] || '-' }}</dd>
      </ng-container>
    </dl>
  </div>
  <div class="scanning-process-material">
    <h2>{{ material.name }}</h2>
    <dl class="scanning-process-data">
      <dt>Permeability:</dt><dd>{{ material.permeability | unit:'permeability' }}</dd>
      <dt>Det. Depth:</dt><dd>{{ (selectedScan.detectionDepth || setup.detectionDepth) | unit:'detectionDepth' }}</dd>
      <dt>Resistance:</dt><dd>{{ material.resistance | unit:'resistance' }}</dd>
      <dt>Frequency:</dt><dd>{{ (selectedScan.frequency || setup.frequency) | unit:'frequency' }}</dd>
    </dl>
  </div>
</section>
