html, body {
  font-size: 15px;
  line-height: 20px;
  color: black;
  font-family: $ms-font-family-west-european;
}

h1 {
  font-size: 46px;
  font-weight: 300;
  line-height: 56px;
}
h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  color: $neutral-dark;
}
h3 {
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
}
h4 {
  font-size: 20px;
  line-height: 24px;
}
h4.light {
  font-weight: 300;
}

input, textarea, select, button {
  font-size: 15px;
  line-height: 20px;
}